/.FlexUnitSettings/*
/.settings/*

/html-template/*
/bin/*
/dist/*
/docs/*
/report/*
/src/FlexUnitApplication.mxml

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings

Icon
Thumbs.db
.DS_Store

